.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  color: rgb(23, 26, 32);
}
@media screen and (max-width: 500px) {
  .header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem;
    color: rgb(23, 26, 32);
  }
}
